{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<main>
    <section class="p-strip--suru">
        <div class="row">
            <b>{{ i18n "session" }}</b>
            <h2>{{.Title}}</h2>
            <p><u class="timedisplay" style="text-decoration-style: dotted;">{{.Date.Format "2006-01-02T15:04:05-07:00"}}</u></p>
            <div>
              <div class="p-label--new">{{ .Params.room }}</div>
              {{if .Params.end}}
              <div class="p-label--new">{{ i18n "session_duration" }} {{(time .Params.end).Sub .Date}}</div>
              {{end}}
              <div class="p-chip" style="background-color: white ;">
                <span class="p-chip__value">
                  {{ .Params.lang }}
                </span>
              </div>
            </div>
        </div>
      </section>
      <section class="p-strip">
        <div class="row">
          {{ .Content }}
          <hr/>
          {{with .Params.slide}}
          <div>
            <object data='{{.}}' type="application/pdf" width="100%" height="700">

              <iframe src='{{.}}' width="500" height="678">
                <p>This browser does not support PDF!</p>
              </iframe>

            </object>
          </div>
          {{end}}
          <hr/>
          {{ range .Params.speakers }}
          <div class="p-media-object">
            {{with .profile}}
              <img src="{{.}}" class="p-media-object__image is-round"
                alt="" style="object-fit: cover; width: 48px; height: 48px;">
            {{ else }}
              <img src='{{ "/images/ubuntu.png" | relURL }}' class="p-media-object__image is-round"
                alt="" style="object-fit: cover; width: 48px; height: 48px;">
            {{end}}
            <div class="p-media-object__details">
              {{if .email}}
			  <a href="mailto:{{.email}}">
 			  {{ else }}
              <a href="">
              {{end}}
                <h3 class="p-media-object__title">
                  {{.name}}
                </h3>
              </a>
              <p class="p-media-object__content">{{.bio}}</p>
              <p class="p-media-object__content">
                {{with .launchpad}}<a href="https://launchpad.net/~{{.}}">Launchpad</a>{{end}}
                {{with .github}}<a href="https://github.com/{{.}}">GitHub</a>{{end}}
                <a href="{{.linkurl}}"> {{.linklabel}}</a>
              </p>
            </div>
          </div>
          {{ end }}
          <nav class="p-pagination" aria-label="Pagination">
            <ol class="p-pagination__items">
              <li class="p-pagination__item">
                <a class="p-pagination__link--previous" href='{{ ref . "/sessions/" }}' title='{{ i18n "more_sessions" }}'><span>{{ i18n "more_sessions" }}</span></a>
              </li>
              {{if .Params.featured}}
              <li class="p-pagination__item">
                <a class="p-pagination__link--next" href='{{.Site.BaseURL}}images/og{{.RelPermalink}}index.html.jpg' title='{{ i18n "session_promo_image" }}'><span>{{ i18n "session_promo_image" }}</span></a>
              </li>
               {{ end }}
            </ol>
          </nav>
        </div>
      </section>
</main>

{{end}}